#content {
    max-width: 1600px;
    margin: 0 auto;

}

nav a {
    text-align: center;
    color: navy;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.butto-box {
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
    background-color:#5D55D3; 
}
body {
    background-color: #EDEFEEff;
}
header {
    background-color: #4996C4ff;
}

nav a:hover {
    background-color:#A43312;
    color: black

}
.home-title {
    color:#4996C4ff
}
h4 {
    color:#4996C4ff
}
.book, .join {
    background-color:#4996C4ff;
    color: navy;
    text-decoration: none;
}
.book:hover, .join:hover{
    background-color: #A43312;
    color: black;

}
.msg {
    background-color:#4996C4ff;

}
.msg h2{
    color: navy;
}
.msg p{
    color: navy;
}
.icon {
    width:80%;
}
footer {
    background-color:#046C4Eff;
    color: #5D55D3;
}
 footer a{
    color:#5D55D3;
    text-decoration: none;
 }
footer a:hover{
    color: #4996C4ff;
} 
footer p {
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
